/* Write your CSS code here */
.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.home-image {
  height: 180px;
  width: 180px;
}
.home-heading {
  font-family: 'Roboto';
  font-size: 40px;
  color: #6d396b;
  font-weight: 500;
  margin-top: 35px;
}
@media (min-width: 992px) {
  .home-image {
    height: 200px;
    width: 200px;
  }
  .home-heading {
    font-family: 'Roboto';
    font-size: 60px;
    color: #6d396b;
    font-weight: 500;
  }
}
